
<% @article.comments.each do |comment| %>
<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p><%= link_to 'Delete',[comment.article,comment], data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
      } %></p>
<% end %>
<% end %>