
.cards{
    width : 100%;
    height: auto;
  }
  .card {
    transition : all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    margin : 6%;
    width : 19.25%;
    box-shadow : 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    float : left;
    border-radius: 15px ;
  }
  .card:hover { 
    box-shadow : 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
  }
  
  .card_img{
    margin-top: -55px;
    border-radius: 12px 12px 0px 0px;
  }
  .box-shadow{
    box-shadow : 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  .card_info{
    background-color: #fff;
    border-radius: 0px 0px 12px 12px ;
    padding : 16px 24px 24px 24px;
  }
  .card_cat{
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    /* font-size: 13px; */
    letter-spacing: 2px;
    font-weight: 500;
    color : #868686;
    background-color: #fff;
  }
  .card_title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Raleway',sans-serif;
    background-color: #fff;
    text-transform: capitalize;
    font-size: 13px;
  }
  button{
    padding :5px 8px;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color : #868686;
    outline: none;
    border : 1px solid black;
    background-color: #fff;
    cursor: pointer;
  }

  body{
    background-color: #f7f7ff;
    margin-top:20px;
}
